// Breakpoints for responsive design
$breakpoints: (
  v900: 900px,
  v800: 800px,
  v700: 700px,
  v600: 600px,
  v500: 500px,
  v450: 450px,
  v400: 400px,
  v375: 375px,
  h1800: 1800px,
  h1600: 1600px,
  h1200: 1200px,
  h1100: 1100px,
  h900: 900px,
  h800: 800px,
  h600: 600px,
  h500: 500px,
  h400: 400px,
) !default;

// mixin for using it
@mixin breakpoint-height($breakpoint) {
  @media (max-height: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-width($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-both($width-breakpoint, $height-breakpoint) {
  @media (max-width: map-get($breakpoints, $width-breakpoint)) and (max-height: map-get($breakpoints, $height-breakpoint)) {
    @content;
  }
}

// How to use mixin
// @include media-breakpoint-up(sm) {
//   // your css here
// }
